body {
  background-color: #715164cb;
  background-color: #387b83df;
  color: #44249a;
  font-family: "calibri", sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 20px;
}
#selectedcity {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eae6e6;
  width: 100%;
  margin-bottom: 30px;
}

.cities {
  display: block;
  gap: 10px;
}
.city {
  border-bottom: 1px dashed #ccc;
  padding: 10px;
}
.time {
  font-size: 42px;
  font-weight: bold;
  display: flex;
  justify-content: right;
  vertical-align: auto;
  margin-left: 80%;
  margin-top: -60px;
  margin-bottom: 20px;
}

.date {
  opacity: 0.5;
  font-size: 15px;
  font-weight: normal;
}

.time small {
  font-size: 10px;
  font-weight: normal;
  margin-left: 5px;
  margin-top: 20px;
}
h1 {
  font-size: xx-large;
  text-align: center;
}

footer {
  font-size: small;
  text-align: center;
  padding: 10px;
  background-color: #387b83df;
  border-radius: 5px;
  color: black;
}
a {
  color: #44249a;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  color: rgb(137, 34, 99);
}
.container {
  font-family: "calibri", sans-serif;
  max-width: 550px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 12px rgba(37, 25, 25, 0.4);
  margin-bottom: 40px;
}
